{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% trans "tracker"|title %} {{ horsetracker }}
{% endblock %}


{% block main %}
<div class="row"> 
  <div class="col-sm-8 right">
  <div class="panel panel-default">
  <div class="panel-body">
    <h3>{% trans "battery level"|title %}</h3>
  <div id="chart_div"></div>
  </div>
  </div>
  </div>
  <div class="col-sm-4 right">
  <div class="panel panel-default">
  <div class="panel-body">
    <h3>{% trans "tracker info"|title %}</h3>
    <strong>{% trans "version" %}:</strong> {{ horsetracker.version }}<br>
    <strong>{% trans "IMEI" %}:</strong> {{ horsetracker.IMEI }}<br>
    <strong>{% trans "IMSI" %}:</strong> {{ horsetracker.IMSI }}
  </div>
  </div>
  </div>
</div>  
<div class="row">   
<div class="col-sm-12 left">
<div class="panel panel-default">
 <div class="panel-heading">
  <h3>{% trans "last recorded data"|title %}</h3>
 </div>
 <div class="panel-body">

  <table id="datatable" class="table table-striped nowrap dt-responsive width="100%">
    <thead>
      <tr>
        <th th class="all">{% trans "log date"|title %}</th>
        <th class="desktop">{% trans "latitude"|title %}</th>
        <th class="desktop">{% trans "longitude"|title %}</th>
        <th class="never">{% trans "batt.(mV)"|title %}</th>
        <th class="desktop">{% trans "batt.(%)"|title %}</th>
        <th class="never">{% trans "temp."|title %}</th>
        <th class="never">{% trans "hum."|title %}</th>
        <th class="never">{% trans "pres."|title %}</th>
        <th class="never">{% trans "IR"|title %}</th>
        <th class="never">{% trans "MPU"|title %}</th>
        <th class="min-tablet">{% trans "accX"|title %}</th>
        <th class="min-tablet">{% trans "accY"|title %}</th>
        <th class="min-tablet">{% trans "accZ"|title %}</th>
        <th class="never">{% trans "magX"|title %}</th>
        <th class="never">{% trans "magY"|title %}</th>
        <th class="never">{% trans "magZ"|title %}</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

 </div>
</div>
</div>
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/DataTables-1.10.11/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/Buttons-1.1.2/css/buttons.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/ColReorder-1.3.1/css/colReorder.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/FixedColumns-3.2.1/css/fixedColumns.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/FixedHeader-3.1.1/css/fixedHeader.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/Responsive-2.0.2/css/responsive.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/RowReorder-1.1.1/css/rowReorder.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/Scroller-1.4.1/css/scroller.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/Select-1.1.2/css/select.bootstrap.min.css"/>
 {% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
google.charts.load('current', {packages: ['corechart', 'line'], 'language': 'sv'});
google.charts.setOnLoadCallback(drawBasic);


function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'x');
      data.addColumn('number', '{% trans "battery charge"|title %}');
      data.addColumn({type:'date', role: 'tooltip'});

      data.addRows([
      //new Date(horsedata.date|date:"Y,m,d,H,i,s")
        {% for horsedata in horsedatas|slice:":50" reversed %} 
        
        [{{ forloop.counter }}, {{ horsedata.batteryCharge }}, new Date({{ horsedata.date|date:"Y,m-1,d,H,i,s" }})],
        {% endfor %}
      ]);

      //ticksarray = d3.time.days(
      // new Date( horsedatas.10.date|date:"Y,m,d,H,i,s" ),  // start
      // new Date( horsedatas.0.date|date:"Y,m,d,H,i,s" ),  // stop
      // 10)                     // stop

      var options = {
        curveType: 'function',

        series: { 0:{color: '#199F69', visibleInLegend: false} },

        chartArea: {'width': '75%', 'height': '70%'},

        hAxis: {
          title: '{% trans "time"|title %}',
          titleTextStyle: { fontName: 'Roboto', italic: true},
          //format : "###",//format : "d,MMM",
          //ticks: ticksarray,
        },
        vAxis: {
          title: '{% trans "battery charge (%)"|title %}',
          titleTextStyle: { fontName: 'Roboto', italic: true},
          format : "###",
        }
        
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>
<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>

<script type="text/javascript" src="{{ STATIC_URL }}datatables/DataTables-1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/DataTables-1.10.11/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/Buttons-1.1.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/Buttons-1.1.2/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/Buttons-1.1.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/ColReorder-1.3.1/js/dataTables.colReorder.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/FixedColumns-3.2.1/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/FixedHeader-3.1.1/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/Responsive-2.0.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/Responsive-2.0.2/js/responsive.bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/RowReorder-1.1.1/js/dataTables.rowReorder.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/Scroller-1.4.1/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/Select-1.1.2/js/dataTables.select.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}datatables/moment.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}datatables/datetime-moment.js"></script>

<script type="text/javascript" language="javascript" class="init">
     $(document).ready(function() {
         //$.fn.dataTable.moment( 'YYY-MM-DDTHH:mm:ssz' );
         $('#datatable').dataTable( {
             "buttons": [
                        'copy', 'excel', 'pdf'
                        ],
             "fixedHeader": true,
             "responsive": true,
             "columnDefs": [
                           { "targets": 0,"responsivePriority": 1, "visible":true},
                           { "responsivePriority": 20},
                           { "responsivePriority": 19},
                           { "responsivePriority": 18},
                           { "responsivePriority": 5},
                           { "responsivePriority": 6},
                           { "responsivePriority": 7},
                           { "responsivePriority": 8},
                           { "responsivePriority": 9},
                           { "responsivePriority": 10},
                           { "responsivePriority": 11},
                           { "responsivePriority": 12},
                           { "responsivePriority": 13},
                           { "responsivePriority": 14},
                           { "responsivePriority": 15},
                           ],
             "select": true,
             "colReorder": true,
             "processing": true,
             "ajax": {
                 "processing": true,
                 "url": "{% url 'data:horsedata list asJson' trackerID='1:5128-8367' %}",
                 "dataSrc": ""
             },

             "columns": [
                     { "data": "fields.date" ,"dateFormat": "mm-dd"},
                     { "data": "fields.latitude" },
                     { "data": "fields.longitude" },
                     { "data": "fields.batteryVoltage" },
                     { "data": "fields.batteryCharge" },
                     { "data": "fields.temperature" },
                     { "data": "fields.humidity" },
                     { "data": "fields.pressure" },
                     { "data": "fields.IRtemp" },
                     { "data": "fields.MPUtemp" },
                     { "data": "fields.accX" },
                     { "data": "fields.accY" },
                     { "data": "fields.accZ" },
                     { "data": "fields.magX" },
                     { "data": "fields.magY" },
                     { "data": "fields.magZ" }
                 ]
         } );
     } );
 </script>
{% endblock %}





