{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% trans "tracker"|title %} {{ horsetracker }}
{% endblock %}


{% block main %}
<div class="row"> 
  <div class="col-sm-8 right">
  <div class="panel panel-default">
  <div class="panel-body">
    <h3>{% trans "battery level"|title %}</h3>
  <div id="chart_div"></div>
  </div>
  </div>
  </div>
  <div class="col-sm-4 right">
  <div class="panel panel-default">
  <div class="panel-body">
    <h3>{% trans "tracker info"|title %}</h3>
    <strong>{% trans "version" %}:</strong> {{ horsetracker.version }}<br>
    <strong>{% trans "IMEI" %}:</strong> {{ horsetracker.IMEI }}<br>
    <strong>{% trans "IMSI" %}:</strong> {{ horsetracker.IMSI }}
  </div>
  </div>
  </div>
</div>  
<div class="row">   
<div class="col-sm-12 left">
<div class="panel panel-default">
 <div class="panel-heading">
  <h3>{% trans "last recorded data"|title %}</h3>
 </div>
 <div class="panel-body">
<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>{% trans "log date"|title %}</th>
        <th>{% trans "latitude"|title %}</th>
        <th>{% trans "longitude"|title %}</th>
        <th>{% trans "batt.(mV)"|title %}</th>
        <th>{% trans "batt.(%)"|title %}</th>
        <th>{% trans "temp."|title %}</th>
        <th>{% trans "pres."|title %}</th>
        <th>{% trans "hum."|title %}</th>
        <th>{% trans "IR"|title %}</th>
        <!--<th>{% trans "MPU"|title %}</th>-->
        <th>{% trans "accX"|title %}</th>
        <th>{% trans "accY"|title %}</th>
        <th>{% trans "accZ"|title %}</th>
        <!--<th>{% trans "magX"|title %}</th>-->
        <!--<th>{% trans "magY"|title %}</th>-->
        <!--<th>{% trans "magZ"|title %}</th>-->
      </tr>
    </thead>
    <tbody>
        {% for data in horsedatas|slice:":100" %}
        <tr><td>{{ data.date|date:"d M" }}, kl. {{ data.date|time:"H:i" }}</td>
            <td>{{ data.latitude|floatformat:5 }}</td>
            <td>{{ data.longitude|floatformat:5 }}</td>
            <td>{{ data.batteryVoltage }}</td>
            <td>{{ data.batteryCharge }}</td>
            <td>{{ data.temperature|floatformat:1 }}</td>
            <td>{{ data.pressure|floatformat:0 }}</td>
            <td>{{ data.humidity|floatformat:0 }}</td>
            <td>{{ data.IRtemp|floatformat:1 }}</td>
            <td>{{ data.accX }}</td>
            <td>{{ data.accY }}</td>
            <td>{{ data.accZ }}</td></tr>
{% endfor %}
    </tbody>
  </table>
</div>
 </div>
</div>
</div>
</div>

{% endblock %}

{% block extra_css %}
{% endblock %}
{% block extra_js %}


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
google.charts.load('current', {packages: ['corechart', 'line'], 'language': 'sv'});
google.charts.setOnLoadCallback(drawBasic);


function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'x');
      data.addColumn('number', '{% trans "battery charge"|title %}');
      data.addColumn({type:'date', role: 'tooltip'});

      data.addRows([
      //new Date(horsedata.date|date:"Y,m,d,H,i,s")
        {% for horsedata in horsedatas|slice:":100" reversed %} 
        
        [{{ forloop.counter }}, {{ horsedata.batteryCharge }}, new Date({{ horsedata.date|date:"Y,m-1,d,H,i,s" }})],
        {% endfor %}
      ]);

      //ticksarray = d3.time.days(
      // new Date( horsedatas.10.date|date:"Y,m,d,H,i,s" ),  // start
      // new Date( horsedatas.0.date|date:"Y,m,d,H,i,s" ),  // stop
      // 10)                     // stop

      var options = {
        curveType: 'none',

        series: { 0:{color: '#199F69', visibleInLegend: false} },

        chartArea: {'width': '75%', 'height': '70%'},

        hAxis: {
          title: '{% trans "time"|title %}',
          titleTextStyle: { fontName: 'Roboto', italic: true},
          //format : "###",//format : "d,MMM",
          //ticks: ticksarray,
        },
        vAxis: {
          title: '{% trans "battery charge (%)"|title %}',
          titleTextStyle: { fontName: 'Roboto', italic: true},
          format : "###",
          minValue : 0,
          maxValue : 100,
        }
        
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>
{% endblock %}




