@import url(https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);

.color-primary-0 { color: #A7B3D2 }	/* Main Primary color */
.color-primary-1 { color: #6D7588 }
.color-primary-2 { color: #C2C7D4 }
.color-primary-3 { color: #D1D3D8 }
.color-primary-4 { color: #F0F1F3 }

.color-secondary-1-0 { color: #B4A9D4 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #77708B }
.color-secondary-1-2 { color: #C8C4D6 }
.color-secondary-1-3 { color: #D5D3DA }
.color-secondary-1-4 { color: #F1F0F4 }

.color-secondary-2-0 { color: #9BC6C8 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #60797B }
.color-secondary-2-2 { color: #B8CACB }
.color-secondary-2-3 { color: #C9D0D0 }
.color-secondary-2-4 { color: #EDF0F1 }

.color-complement-0 { color: #FFECC5 }	/* Main Complement color */
.color-complement-1 { color: #CBBC9E }
.color-complement-2 { color: #FFF7E7 }
.color-complement-3 { color: #FFFCF6 }
.color-complement-4 { color: #FFFEFB }


body            { font-family: sans-serif; background: #B8CACB;
                  background-image: url("clouds.jpg")}
h1, h2          { color: #6D7588; }
a               { color: #9BC6C8; }
h1, h2          { font-family: 'Bilbo Swash Caps', cursive; margin: 0; }
h1              { border-bottom: 2px solid #6D7588; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 40em; border: 5px solid #A7B3D2;
                  padding: 0.8em; background: #EDF0F1; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #9BC6C8; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #FFF7E7; }
.flash          { background: #FFECC5; padding: 0.5em;
                  border: 1px solid #CBBC9E; }
.error          { background: #FFECC5; padding: 0.5em; }

.dataList       { font-size: 0.8em; }
#map            { height: 30em; }
#panel          { background-color: #60797B;
                  border: 1px solid #C9D0D0;
                  left: 0em;
                  padding: 5px;
                  position: relative;
                  top: 10px;
                  z-index: 5;}

.dataColumns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lightblue; /* Firefox */
    column-rule-color: lightblue;
}
