{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Välkommen till mundilfare!</h2>
<p>
Mundilfare är en testserver på nätet där fältbaserad hårdvara, här kallad hästtrackers, mäter geografisk position i kombination med ytterligare mätdata. I detta fallet avser det mätning av hästars beteenden. Servern samlar sedan in denna mätdata ifrån dessa hästtrackers och sammanställer, analyseran och därefter redovisar dem för hästägaren via smarta funktioner på serverns webblplats.
</p>
<p>Om du är beta-testar, det vill säga är deltagare i projektet med avseende att prova ut produkten samt besöker den här sidan för första gången, så ser du din användarmeny längst uppe till höger på denna sida. För att komma åt dina hästars mätdata måste du först registrera dig om du inte redan fått särskilda login uppgifter för detta.
</p>
<ul>
    <li><a href="http://mundilfare.hummelgard.com/accounts/signup/?next=/">Klicka här för att komma till registrering</a></li>
    <li><a href="http://mundilfare.hummelgard.com/data/horses/">Eller följ denna länk för att se dina hästar</a></li>
</ul>
{% endblocktrans %}
{% endblock %}



